.index-login, .index-login-button, .index-register{
	display: flex;
	justify-content: center;
}

.index-login-form{
	display: flex;
	justify-content: center;
}

.index-register-buttons{
	display: flex;
	justify-content: space-evenly;
}

.index-register-choice p{
	font-size: 20px;
	padding-bottom: 10px;
}

a{
	cursor: pointer; 
}

.navbar{
	border-radius: 0;
	padding: 0;
	display: flex;
	justify-content: flex-start;
}

.navbar-brand > a{
	color: #f8f8ff;
	text-decoration: none;
}

.navbar-icon{
	width: 80px;
	height: 80px;
}

.navbar-brand:hover{
	background-color: rgb(216, 73, 23);
}