.navbar-default{
	background-color: #191970;
}

.navbar-default .navbar-nav > li{
	font-size: 20px;
}

.index-login, .index-login-button, .index-register{
	display: flex;
	justify-content: center;
}

.index-login-form{
	display: flex;
	justify-content: center;
}

.index-register-buttons{
	display: flex;
	justify-content: space-evenly;
}

.index-register-choice p{
	font-size: 20px;
	padding-bottom: 10px;
}

.btn-primary{
	background-color: blue;
}

.btn-secondary{
	background-color: lightblue;
}

a{
	cursor: pointer; 
}

/*<<<<<<< HEAD
.navbar{
	border-radius: 0;
	padding: 0;
	display: flex;
	justify-content: flex-start;
}

.navbar-brand > a{
	color: #f8f8ff;
	text-decoration: none;
}

.navbar-icon{
	width: 80px;
	height: 80px;
}

.navbar-brand:hover{
	background-color: rgb(216, 73, 23);
=======*/
body{
	padding-top: 80px;
}

html{
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	line-height: 26.4px;
}